<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Todonoic</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-backdrop *ngIf="showTaskInput" [visible]="showTaskInput" (ionBackdropTap)="showTaskInput = false"></ion-backdrop>

    <ion-searchbar enterkeyhint="Search" (ionChange)="searchTask($event)" (ionBlur)="searching = false"></ion-searchbar>


    <ion-list *ngIf="searching">
        <app-task-row *ngFor="let task of searchResults" [task]="task"></app-task-row>
    </ion-list>

    <ion-list *ngIf="!searching">
        <ion-item-divider>
            <ion-label>Projects</ion-label>
            <ion-button (click)=" addCategory() " slot="end " fill="clear ">
                <ion-icon name="add " slot="icon-only "></ion-icon>
            </ion-button>
        </ion-item-divider>
        <ion-item button *ngFor="let proj of projects " [routerLink]="[ '/project', proj.id] " detail="false ">
            <div class="color-preview-small ion-padding-right " slot="start " [style.background]="proj.color "></div>

            <ion-label>
                {{ proj.name }}
            </ion-label>
            <div slot="end ">{{ proj.tasks.length }}</div>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom " horizontal="end " slot="fixed ">
        <ion-fab-button (click)="showTaskInput=true; ">
            <ion-icon name="add "></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<ion-footer *ngIf="showTaskInput ">
    <ion-datetime displayFormat="MM DD YY " [(ngModel)]="task.due " hidden="true " #due></ion-datetime>
    <ion-row>
        <ion-col size="12 ">
            <ion-input autofocus="true " [(ngModel)]="task.name " placeholder="Add a task " class="ion-padding-left "></ion-input>
        </ion-col>
        <ion-col size="10 ">
            <ion-button fill="outline " (click)="openProjectPopover($event) " size="small ">
                <div class="color-preview-small " slot="start " [style.background]="task.project.color " *ngIf="task.project "></div>
                {{ task.project ? task.project.name : 'Inbox' }}
            </ion-button>

            <ion-button fill="outline " (click)="selectDue() " size="small ">
                {{ task.due | date }}
            </ion-button>

            <ion-button fill="outline " (click)="openPriorityPopover($event) " size="small ">
                <ion-icon name="flag " slot="icon-only " [style.color]="getTaskColor() "></ion-icon>
            </ion-button>

        </ion-col>
        <ion-col class="ion-no-padding ion-text-right " size="2 ">
            <ion-button (click)="saveTask() " shape="round " fill="clear ">
                <ion-icon name="arrow-up-circle-outline " slot="icon-only "></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>